{% extends "@MyAppUser/layout.html.twig" %}
{% block video  %}
{% block content %}

    <h2> la liste des hotels trouvés </h2>

{# total items count #}
<div class="count">
    {{ pagination.getTotalItemCount }} hotel trouvé
</div>
<table>
    <tr>
        {# sorting of properties based on query components #}
        <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
        <th{% if pagination.isSorted('a.Title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Title', 'a.title') }}</th>
    </tr>

    {# table body #}
    {% for m in pagination %}
        <tr {% if loop.index is odd %}class="color"{% endif %}>

        <form>
            <fieldset style="width:360px;">
                <legend>
                    {{ m.nom }}
                </legend>
                ID : {{ m.idHotel }} <br>
                Ville : {{ m.ville }} <br>
                Etoile : {{ m.etoile }}<br>

            </fieldset>
        </form>


        </tr>
    {% endfor %}
</table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock content %}

{% endblock video %}